<html lang="en">
<head>
	<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/main1.css">
</head>
<body>
<div class="bg">
    <div class="login-box">
        <h2>Login</h2>
        <form method="POST">
            <div class="user-box">
                <!-- <input type="text" name="" required=""> -->
                <input type="email" name="username" id="user" class="form-control" onblur="check()" value=""  required>
            
               

                <label>Username</label>
            </div>
            <br>
            <div class="user-box">
                <!-- <input type="password"> -->
                <input name="pass"  type="password" id="pass" class="form-control"  onblur="check()" value="" required>
               
                <label>Password</label>
            </div>
            <br>
            <div id="button1" hidden="true">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <button >
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span> Login
                 </button>
            </div>

            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/reg">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span> Sign up
                </a>
                <br>
                <a href="/forgot">&nbsp;&nbsp;&nbsp;<span></span>
                <span></span>
                <span></span>
                <span></span>Forget Password ?</a>
            </div>
        </form>

    </div>
</div>
</body>
<script>
    function check(){
       
        const user=document.getElementById("user")
        const pass=document.getElementById("pass")
        const bt=document.getElementById("button1")
        if(user.value=="" || pass.value=="")
        {
               bt.hidden=true
        }
        else
        {
            bt.hidden=false
        }
    }
    </script>
</html>
