<html>
<head>
    <title>Sign Up</title>
<link rel="stylesheet" type="text/css" href="css/main2.css">
</head>
<body>
<div class="bg">
    <br><br><br>
    <div class="container">
        <mat-card class="example-card">
            <mat-card-header>
                <h2>Sign Up</h2>
                <!-- <mat-card-subtitle>Vibration</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                <form method="POST">
                    <div class="row ">
                        <div class="col-6 ">
                            <div class="form-group" style="margin: 10px;">
                                <!-- <mat-form-field class="example-full-width example-margin"> -->
                                <input placeholder="Name"  name="Name "  type="text " class="form-control " required>
                              
                                <!-- </mat-form-field> -->
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="form-group" style="margin: 10px;">
                                <!-- <mat-form-field class="example-full-width example-margin"> -->
                                <input placeholder="Email_id" name="Email_id"  type="email" class="form-control" email required>
                               
                                <!-- </mat-form-field> -->
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-6 ">
                            <div class="form-group" style="margin: 10px;">
                                <!-- <mat-form-field class="example-full-width example-margin"> -->
                                <input placeholder="Password"  name="Password"  type="password" class="form-control" required>
                                
                                <!-- </mat-form-field> -->
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="form-group" style="margin: 10px;">
                                <!-- <mat-form-field class="example-full-width example-margin"> -->
                                <input placeholder="Confirm Password" name="Confirm_Password" type="password" class="form-control" required>
                               
                                <!-- </mat-form-field> -->
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-6 ">
                            <div class="form-group" style="margin: 10px;">
                                <!-- <mat-form-field class="example-full-width example-margin"> -->
                                <input placeholder="Mobile Number"  name="Mobile"  type="tel" class="form-control " required minlength="10"  maxlength=10>
                               
                               
                            </div>
                        </div>
                        <div class="col-6">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="bit" >
                            <label class="label-checkbox100" for="ckb1">
                                BIT Student
                            </label>
                        </div>
                    </div>

                    
                       
                    </div>

                  

                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-3">

                           
                            <div >
                                <button mat-raised-button color="primary" >Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             
                            </div>
                        </div>
                        <div class="col-4"></div>

                    </div>

                </form>

            </mat-card-content>
            <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
        </mat-card>
    </div>
    <br><br><br>
</div>
</body>
</html>
