<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin_represent">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">Expenses</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic1">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/radd_Expenses">Add Expenses</a></li>
            
           <li class="nav-item"> <a class="nav-link" href="/rshow_Expenses?Com_id=5e6eff864429714eccbd6abc&type=Coordinate">View Expenses</a></li>
          </ul>
        </div>
      </li>
      

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">Members</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic4">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/radd_Member">Add Member</a></li>
            <li class="nav-item"> <a class="nav-link" href="/rview_Member">View Members</a></li>
           
          </ul>
        </div>
        
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">Goodies</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic2">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/add_Goodies">Add Goodies</a></li>
            <li class="nav-item"> <a class="nav-link" href="/view_Goodies">View Goodies</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">Invitations</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic3">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/add_College">Add College</a></li>
            <li class="nav-item"> <a class="nav-link" href="/college_Invitation">College Invitations</a></li>
            <li class="nav-item"> <a class="nav-link" href="/private_Invitation">Private Invitation</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic6" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">Fund Requests</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic6">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/request_Fund4">Send Request</a></li>
        
           <li class="nav-item"> <a class="nav-link" href="/request_Status4">View Status</a></li>
          </ul>
        </div>
      </li>
           
      
    </ul>
    </nav>